.form {
  margin: 10px 20px;
  display: inline-flex;
}

.input-group {
  position: relative;
  display: flex;
  align-items: center;
}

.search-input {
  padding-right: 20px; /* Adjust padding to ensure text doesn't go under the close button */
  width: 200px;
}

.close-button {
  position: relative;
  right: 0.8cm;
  top: 0.1cm;
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 0 8px; /* Adjust padding to control the size of the clickable area */
}